.cabecalho__menu-hamburguer {
    width: 50px;
    height: 100px;
    background-image: url("../img/Menu hamburguer.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho{
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}    
.container{
    display: flex;
    align-items: center;
}
.container__imagem{
    padding: 1em;
}
.container__titulo{
    font-family: var(--fonte-primaria);
    
}
.lista-menu{
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}
.container__botao:checked~.lista-menu{
    display: block;
}
.lista-menu__item{
    background-color: #ffffff;
    padding: 1em;
    
}

.lista-menu__link{
 
    background-clip: text;
    color: #ef8c1c;
    text-transform: uppercase;
    text-decoration: none;
}
.container__botao{
    display: none;
}
.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
   

    .container__imagem{
    padding: 2em;
    }
    .container__titulo-responsive, 
    .container__titulo--negrito{
        font-size: 22px;
    }
    .container__titulo-responsive{
        font-weight: 700;
        
        display: block;
    }
    .container__titulo{
        font-weight: 700;
    }   
    .opcoes{
        margin-left: auto;
        display: flex;
        justify-content: center;
    }    
    .opcoes__item{
        text-align: center;
        text-transform: uppercase;
    }
    .opcoes__link{
        text-decoration: none;
        color: #e5a761;

    }
   
    .cabecalho__menu-hamburguer{
        display: none;
    }
    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }
    .opcoes__botao{
        display: none;
    }
 
    .opcoes__item{
        padding: 2em 1em;
    }
    .lista-menu__item:hover {
        background: #e5a761;
    }
    .lista-menu__item:hover>.lista-menu__link{
        text-decoration: none;
    }

}
@media screen and (min-width: 1728px) {

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #000000;

    }
    .cabecalho{
        padding: 0 2em;
    }
    .opcoes{
        margin-block-end: auto;
    }
    .container__titulo,
    .container__titulo-responsive{
        font-weight: 400;
        display: block;
    }    
    .container__texto{

        display: block;
    }
   
}